.my-title {
    background-color: blueviolet;
    color: blanchedalmond;
    text-align: center;
    padding: 15px;
}
.animal-btn {
    background-color: rgb(65, 252, 8);
    color: blueviolet;
    

}