header{
    background-color: blueviolet;
    color: yellow;
    text-align: center;
    padding: 15px;
} 
.animal-btn {
    background-color: blueviolet;
    color: yellow;
    

}
.penguin, .my-title {
    display: inline;
    text-align: center;
    padding: 15px;
    /* background-color: blueviolet; */
    /* color: blanchedalmond; */

}
.container {
    border-radius: 20px;
    margin-top: 20px;
    background-color: rgb(245, 245, 69);
    color: blueviolet;
    padding-bottom: 20px;
    border: 3px solid;
    border-color: blueviolet;
}
body {
    background-color: rgb(194, 150, 231);
}
#find-animal {
    background-color: blueviolet;
    color: yellow;

}
#animal-input {
    background-color: yellow;
    border-radius: 10px;
}
.other {
    background-color: rgb(194, 150, 231);
    border-color: rgb(194, 150, 231);
   
}
.floatDiv {
    
    float: left;
    margin: 15px;
}
.image {
    display: block;
}
#images {
    text-align: center;
  
}
